@import "~bootstrap/scss/bootstrap.scss";

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

input {
    width: 50%;
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    
}

body {
    background: rgb(170, 170, 233);
    font-family: cursive;
}


#listbar {
    background: white;
    width: 50%;
    margin:auto;
    font-size: xx-large;
    list-style: none;
    text-indent: 50px;
    text-align: left;
    border: 2px solid black;
}

#delete {
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}



#task {
    background: white;
    width: 50%;
    margin:auto;
    font-size: xx-large;
    text-indent: 30px;
}

#last {
    font-size: 20px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0 15px 10px -5px;
}